asn1crypto==1.5.1
bitstring==3.1.9
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.9
idna==3.3
numpy==1.22.3
Pillow==9.1.0
Plainsight==1.1.2
pycryptodome==3.14.1
pycurl==7.45.1
PyJWT==2.3.0
pyparsing==3.0.7
requests==2.27.0
six==1.16.0
urllib3==1.26.7
wfuzz==3.1.0
